html {
   background-color: #A9AEA7;
}

.card-title-top {
   background-color: #1A1515;
}

.card-body {
   background-color: #ECE8E0;
}

#main {
   background-color: #A6AA9C;
   text-align: center;
}

.main-container {
   background-color: #ECE8E0;
}

.card {
   background-color: #ECE8E0;
   max-width: 80%;
   margin: auto;
}