html {
   background-color: #A9AEA7;
}

.card {
   background-color:#1A1515 ;
}

.card-title-top {
   background-color: #1A1515;
}

.card-body {
   background-color: #ECE8E0;
}

.main-container {
   background-color: #A9AEA7;
}

.card {
   background-color: #A9AEA7;
   max-width: 80%;
   margin: auto;

}

.card-img-overlay {
   background-color: #A9AEA7;
}