html {
   background-color: #557571;
}

.App {
  text-align: center;
  background-color:#557571;
}

.main-container {
   background-color: #F7D1BA;
}

.card {
   background-color: #D49A89;
}

.card-title-top {
   background-color: #D49A89;
}

.card-body {
   background-color: #F7D1BA;
}